.root {
    interfaceBackground: "#B8CCCB";
    interfaceShadow: "#6E6962";
    titleBackground: "#6E9FAA";
    labelBackground: "#152F38";
    labelHighlight: "#83BCCB";
    labelShadow: "#6A929C";
    buttonText: "#152F38";
    buttonHighlight: "#83BCCB";
    buttonShadow: "#5F8A95";
    inputText: "#152F38";
    inputBackground: "#E5E5E5";
    inputHighlight: "#AFABA5";
    inputShadow: "#6E6962";
}

.scene {
    -fx-background-color: black;
}

.connected-status {
    -fx-text-fill: darkgreen;
}

.disconnected-status {
    -fx-text-fill: darkred;
}

.label {
    -fx-text-fill: interfaceBackground;
    -fx-background-color: labelBackground;
    /* Border-Farben: oben rechts unten links */
    -fx-border-color:  labelHighlight labelShadow labelShadow  labelHighlight;
    -fx-border-width: 4px 4px 4px 4px;
    -fx-border-style: solid;
    -fx-font-family: "Silkscreen";
    -fx-font-size: 14px;
}


#timerLabel {
    -fx-background-color: interfaceBackground;
    -fx-border-width: 0px;
    -fx-text-fill: buttonText;
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-translate-y: -3;
    -fx-padding: 0;
}

#statusLabel {
    -fx-background-color: interfaceBackground;
    -fx-border-width: 0px;
    -fx-text-fill: buttonText;
    -fx-font-size: 20px;
}


#sessionLabel {
    -fx-background-color: interfaceBackground;
    -fx-border-width: 0px;
    -fx-text-fill: buttonText;
    -fx-font-size: 11px;
}

#miniTimerButton {
    -fx-padding: 3px 6px 3px 6px;
    -fx-translate-y: 1;
}

#startPauseButton {
    -fx-padding: 2px 6px 2px 6px;
}

#resetButton {
    -fx-padding: 2px 6px 2px 6px;
}

#nextPhaseButton {
    -fx-padding: 2px 6px 2px 6px;
}

#inputBox {
    -fx-padding: 10px 18px 20px 18px;
}

#buttonBox {
    -fx-translate-y: -4;
}

#rootTimerVBox {
    -fx-background-color: interfaceBackground;
    -fx-border-color:  interfaceBackground interfaceShadow interfaceShadow  interfaceBackground;
    -fx-border-width: 4px 5px 5px 4px;
    -fx-translate-x: 0;
    -fx-translate-y: 1;
}

#timerTitle {
    -fx-text-fill: buttonText;
    -fx-background-color: titleBackground;
    /* Border-Farben: oben rechts unten links */
    -fx-border-color:  titleBackground interfaceShadow interfaceShadow  titleBackground;
    -fx-border-width: 4px 4px 4px 0px;
    -fx-border-style: solid;
    -fx-font-family: "Silkscreen";
    -fx-font-size: 16px;
    -fx-min-width: 293px;
    -fx-translate-x: 3px;
}


.button {
    -fx-text-fill: buttonText;
    -fx-background-color: interfaceBackground;
    /* Border-Farben: oben rechts unten links */
    -fx-border-color:  buttonHighlight buttonShadow buttonShadow  buttonHighlight;
    -fx-border-width: 4px 4px 4px 4px;
    -fx-border-style: solid;
    -fx-font-family: "Silkscreen";
}

.text-area {
    -fx-text-fill: buttonText;
    -fx-background-color: inputBackground;
    -fx-border-color: inputHighlight inputShadow inputShadow inputHighlight;
    -fx-border-width: 4px 4px 4px 4px;
    -fx-border-style: solid;
    -fx-font-family: "Silkscreen";
}

.text-field {
    -fx-text-fill: inputText;
    -fx-background-color: inputBackground;
    -fx-border-color: inputHighlight inputShadow inputShadow inputHighlight;
    -fx-border-width: 4px 4px 4px 4px;
    -fx-border-style: solid;
    -fx-font-family: "Silkscreen";
    -fx-padding: 2px;
}

#chatRoot {
    -fx-padding: 10px;
    -fx-padding-left: 10px;
    -fx-background-color: interfaceBackground;
}

#currentPet {
    -fx-max-width: 5px;
    -fx-max-height: 5px;
    -fx-font-size: 5px;
}

#currentPetHBox {
    -fx-translate-x: 4;
}

#rootVBox {
    -fx-background-color: interfaceBackground;
    -fx-border-color:  interfaceBackground interfaceShadow interfaceShadow  interfaceBackground;
    -fx-border-width: 4px 5px 5px 4px;
    -fx-translate-x: -2;
    -fx-translate-y: 2;
}



#homeTitle, #petSelectionTitle, #networkTitle, #chatTitle, #miniTimerTitle, #settingsTitle {
    -fx-text-fill: buttonText;
    -fx-background-color: titleBackground;
    /* Border-Farben: oben rechts unten links */
    -fx-border-color:  titleBackground interfaceShadow interfaceShadow  titleBackground;
    -fx-border-width: 4px 4px 4px 0px;
    -fx-border-style: solid;
    -fx-font-family: "Silkscreen";
    -fx-font-size: 16px;
    -fx-min-width: 293px;
    -fx-translate-x: 4px;
}

#petName {
    -fx-background-color: interfaceBackground;
    -fx-border-width: 0px;
    -fx-text-fill: buttonText;
    -fx-font-size: 18px;
}

#currentStatus {
    -fx-background-color: interfaceBackground;
    -fx-border-width: 0px;
}

#appsHBox {
    -fx-min-height: 56px;
    -fx-min-width: 265px;
    -fx-background-color: interfaceBackground;
    -fx-translate-y: 0px;
    -fx-translate-x: -2px;
    -fx-border-color:  interfaceBackground interfaceBackground interfaceShadow  interfaceBackground;
    -fx-border-width: 0px 0px 4px 0px;
}

#speedTextLabel, #activityTextLabel, #sizeTextLabel, #heightTextLabel{
    -fx-background-color: interfaceBackground;
    -fx-border-width: 0px;
    -fx-text-fill: buttonText;
    -fx-font-size: 12px;
    -fx-max-width: 200px;
    -fx-wrap-text: true;
}
#petButtons {
    /* <top> <right> <bottom> <left> */
    -fx-padding: 0 0 24 0;
    -fx-border-color:  titleBackground interfaceShadow interfaceShadow  titleBackground;
    -fx-border-width: 0px 4px 1px 0px;
    -fx-translate-x: 5;
    -fx-translate-y: 1;
}

#petsHBox {
    -fx-translate-x: 11;
}

#backButton {
    -fx-translate-x: 10;
    -fx-translate-y: 2;
}


#appsHBox {
    /* <top> <right> <bottom> <left> */
    -fx-translate-x: 4;
    -fx-translate-y: 5;
    -fx-border-color:  interfaceBackground interfaceShadow interfaceShadow  interfaceBackground;
    -fx-border-width: 0px 4px 5px 0px;
    -fx-padding: 0 0 16 0;
}

#sendButtonImgView {
    -fx-padding: 2;
}

#messagingBox {
    -fx-translate-x: 20;
}

 #messageBox {
     -fx-padding: 0 0 16 0;
 }

#copyButton {
    -fx-translate-x: 5;
    -fx-translate-y: -2;
    -fx-padding: 2px;
}

#copieableLabel {
    -fx-border-width: 4px 4px 4px 0px;
    -fx-padding: 0px 7px 0px 7px;
}

#hostButton, #joinButton {
    -fx-padding:  1 21 1 21;
    -fx-font-size: 14px;
}

#allNetworkComponentsVBox {
    -fx-translate-x: 20;
    -fx-translate-y: 15;
    -fx-padding: 0px 0px 35px 0px
}

#ipAddress {
    -fx-border-width: 4px 0px 4px 4px;
}

.slider {
    -fx-padding: 10px;
}

.slider .track {
    -fx-background-color: titleBackground;
    -fx-background-insets: 0;
    -fx-pref-height: 8px;
    -fx-background-radius: 0;
    -fx-effect: null;
}

.slider .thumb {
    -fx-background-color: labelBackground;
    -fx-background-insets: 0;
    -fx-padding: 10px;
    -fx-background-radius: 10;
    -fx-effect: null;
}

.slider .axis {
    -fx-tick-label-fill:  labelBackground;
    -fx-font-family: "Silkscreen";
    -fx-font-size: 12px;
}

.slider .tick-mark {
    -fx-stroke: labelBackground;
}

.slider .minor-tick-mark {
    -fx-stroke: labelBackground;
}


